/*This partial is for styling*/

/*grid styling*/
.grid-item {
    background-color: $col1;
    border: 5px solid white;
    color: $col2;
    padding: $padgi;
}

.grid {
    font-size: $size;
    font-family: $family;
    background-color: $col3;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    gap: 20px;
    height: 100%;
    padding: $padg;
}