/*This partial is for styling*/

/*grid styling*/
.grid-item {
    font-size: 15pt;
    background-color: rgb(158, 219, 108);
    color:rgb(171, 125, 180);
    border-style: solid;
    border-width: 4pt;
    border-color: rgb(0, 0, 0);
    gap: 10px;
    padding: 20px;
}